.statistics {
        .stat-container {
            display: flex;
            flex-wrap: wrap;
            gap: 140px;
            margin-left: 60px;
            text-align: left;
            margin-top: 30px;
        }
}

.story-container {
    margin: 150px 100px;
}

@media (max-width: 500px) {
    
    .story-container {

        margin: 40px 40px;
    }
}    


@media (max-width: 1233px) {
    img {
    width: 100%;
     }
    }


.h2 {

    font-weight: bold;
    
}

@media (max-width: 500px) {
    .stat-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-left: 45px;
        text-align: left;
    }
    }
    @media (max-width: 892px) {
        .stat-container {
            gap: 50px;
        }
        }