@import "fonts.scss"; /*Fonts SASS file*/
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 42px;
  font-family: $secondary-font;
}
.footer__headline {
  font-weight: bold;
  font-size: 14px;
  font-family: $secondary-font;
  margin-bottom: 6px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display:flex;
  font-size: 14px;
  flex-direction:column;
  align-items: flex-start;
  gap: 1px;
  li {
    font-weight: 400;
    list-style: none;
    text-transform: lowercase!important;
  }
}
.footer__list a {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin-top: 10px;
  font-size: 15px !important;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem;
  color: black;
  list-style: none;
  cursor: pointer;
  margin: 0;
}

.footer__list li::first-letter {
  text-transform: uppercase!important;
}
.copyRight{
  margin-top: 47px;
}
.arrow-container{
  border:none;
  margin-right: 36px;
  background: transparent;
  display: inline-block;
  position: relative;
  color: #2a5db0;
  cursor: pointer;
  img {
    width:auto;
    height: 25px;
  }
} 
.arrow-container::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2a5db0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.arrow-container:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


@media(max-width: 500px){

  .footer{
    flex-direction:column;
    gap:30px;
  }
}

.footer__list a{
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin-top: 10px;
  font-size: 15px !important;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem;
  color: black;
  list-style: none;
  cursor: pointer;
}

