.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer__headline {
  font-weight: bold;
  font-family: 'arial';
  font-size: 14px;

}
.footer__list {
  font-family: 'arial';
  list-style: none;
  padding: 0;
  margin: 0;
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  gap: 1px;
}
.copyRight{
  margin-top: 58px;
}
.arrow-container{
  border:none;
  background: transparent;
  display: inline-block;
  position: relative;
  color: #2a5db0;
  cursor: pointer;
  img {
    width:auto;
    height: 40px;
  }
} 
.arrow-container::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2a5db0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.arrow-container:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


@media(max-width: 500px){

  .footer{
    flex-direction:column;
    margin-left: 40px;
  }
}