@import "colors.scss"; /*Colors SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/

.hero-img {
}

.team {
}

/* First the Grid /

/ The Images /

.gallery-grid {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/ The Picture Frame */

.gallery-frame {
    padding: .5rem;
    font-size: 1.2rem;
    text-align: left;
    width: 200px;
    height:auto;
    display:inline-block;
  }
  
  .gallery-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
  }
  
  .gallery-img:hover {
    opacity: .7;
  }