@import "colors.scss"; /*Colors SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/

/*Shared style/classes on both pages*/

.hero-img {
  margin-top: 130px;
  width: 100%;
  margin-left: -65px;
  img {
    width: 120%;
    height: 430px;
    object-fit: cover;
    object-position: bottom;
  }
}
.teams {
  padding-bottom: 90px;;
  border-bottom: 1px solid #ccc;  
}

.team {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

.the-team{
  margin-left: 55px;
  margin-top: 50px;
  h2 {
    font-weight: bold;
  }
}

@media (max-width: 900px) {
  .the-team {
    text-align: center !important;
  }
}

/* First the Grid /

/ The Picture Frame */

.gallery-frame {
  padding: 0.3rem;
  font-size: 1.2rem;
  text-align: left;
  width: 200px;
  height: auto;
  display: inline-block;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery-img:hover {
  opacity: 0.7;
}
