// /*! HEADER STYLES */
@import "../sass/colors.scss"; /*Colors SASS file*/
@import "../sass/fonts.scss";

.brand {
  padding: 20px;
  h1 {
    margin: 0;
  }
  a {
    display: inline-block;
  }
}

ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

#searchInput {
  height: 20px;
  width: 150px;
}

.icon {
  display: none;
}

.header {
  position: fixed;
  background: $white;
  width: 100%;
  top: 0;
  z-index: 100;
  
  &.inverted {
    background-color: $white;
  }
}
.menu {
  background-color: white;
}
.top-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 1190px) {
  .icon {
    display: block;
    a {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 20px;
      font-size: 20px;
    }
  }
  nav.responsive {
    height: 0px;
    overflow: hidden;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    li {
      vertical-align: middle;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0px 0px;
      border-bottom: 1px solid #ccc;

      a.current {
        color: $link-hover;
      }

      &.icon {
        float: right;
        display: inline-block !important;
        position: absolute;
        right: 2%;
        top: 30px;
      }
    }
  }
}
