/*
Name: Google News SASS
Version: 1.0
*/

@import "colors.scss"; /*Colors SASS file*/
@import "mixin.scss"; /*Mixin SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/
@import "header.scss"; /*Header SASS file*/
@import "articles.scss"; /*Articles SASS file*/
@import "global_pages.scss"; /*Articles SASS file*/
@import "about.scss";
@import "contact.scss";
@import "footer.scss";

body {
  width: 100%;
  overflow-x: hidden;
  display: block;
  clear: both;
  padding: 1%;
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: 13pt;
  color: black;
}

@media screen and (max-width: 1024px) {
  /*All Devices*/

  html.touch *:hover {
    pointer-events: none !important;
  }

  html,
  body {
    width: 100% !important;
    margin: 0px !important;
    overflow-x: hidden !important;
    overflow-y:auto;
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
  }

  body {
    margin: 0 0 20px;
    height: auto;
    min-height: 100%;
  }
}

#content {
  width: 80%;
  margin: 0 auto;

  @media (max-width: 870px) {
    width: 100%;
  }
}

/*------FOOTER-----*/

.footerindexpage {
  width: 100%;
  border-top: 1px solid #ccc;
  padding-top: 20px;

}
.footer__list a {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin-top: 0px;
  font-size: 15px !important;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem;
  color: black;
  list-style: none;
  cursor: pointer;
}

hr {
  border-top: 3px solid #bbb;
  width: 100vw;
}
a {
  color: $primary-color;
}
